{% load staticfiles %}

<nav class="navbar navbar-dark bg-inverse navbar-full">

  <a class="navbar-brand" href="{% url 'main' %}">
    <img src="{% static 'img/jd.png' %}" width="30" height="30" class="d-inline-block align-top" alt="ChatterBot">
    JustDigital Chat
  </a>

  <ul class="nav navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="http://justdigital.agency/">Documentation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/apiumtech">GitHub</a>
    </li>
  </ul>

  <ul class="nav navbar-nav float-xs-right">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
    </li>
  </ul>
</nav>